/* Base */

.underline {
    text-decoration: underline;
}

/* Views */
.login-bg-fullscreen {
    background-image: url('login_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

