/* Base Utilities */
.underline {
    text-decoration: underline;
}

/* App Layout */
vaadin-app-layout {
    background-color: var(--lumo-base-color);
}

vaadin-app-layout::part(drawer) {
    border-inline-end: none;
    background-color: var(--lumo-contrast-10pct);
}

/* Admin View */
.admin-nav-item,
.admin-nav-item * {
    cursor: pointer;
}

.admin-nav-item {
    -webkit-user-select: none;
    user-select: none;
}

/* Select */
vaadin-select-item::part(checkmark) {
    display: none !important;
}

vaadin-select-overlay::part(overlay) {
    width: 450px !important;
}

vaadin-select-overlay vaadin-select-item[selected] {
    border: 2px solid var(--lumo-primary-color) !important;
    background-color: var(--lumo-primary-color-10pct) !important;
    border-radius: 4px;
}

vaadin-select-overlay vaadin-select-item::part(content) {
    padding-left: 24px;
}

html {
    --vaadin-input-field-autofill-background: var(--lumo-contrast-10pct);
    --vaadin-input-field-autofill-color: var(--lumo-body-text-color);
}

/* View Backgrounds */
.login-bg-fullscreen {
    background-image: url('login-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.registration-bg-fullscreen {
    background-image: url('registration-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.verification-bg-fullscreen {
    background-image: url('verification-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.forgot-password-bg-fullscreen {
    background-image: url('forgot-password-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.reset-password-bg-fullscreen {
    background-image: url('reset-password-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.registration-bg-card {
    background-image: url('registration.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Components */
.border-left-rounded {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
